{
    "caldav_url": "YOUR_CALDAV_CALENDAR_URL_FROM_MAILBOX_ORG",
    "username": "YOUR_APPLICATION_USERNAME",
    "password": "YOUR_APPLICATION_PASSWORD",
    "timezone": "Europe/Vienna",
    "uid_prefix": "ICS-",
    "future_event_limit_days": 365,
    "extra_events": [
      "☀️ Sommerzeit beginnt:-1.Sunday.3",
      "🌷 Muttertag:2.Sunday.5",
      "👨‍👧‍👦 Vatertag:2.Sunday.6",
      "🔥 Sonnwendfeier:21.6.fixed",
      "🧾 Steuererklärung:30.6.fixed",
      "🌒 Sommerzeit endet:-1.Sunday.10",
      "🎃 Halloween:31.10.fixed",
      "🕯️ 1. Advent:-4.Sunday.12",
      "🕯️ 2. Advent:-3.Sunday.12",
      "🕯️ 3. Advent:-2.Sunday.12",
      "🕯️ 4. Advent:-1.Sunday.12",
      "👹 Krampusnacht:5.12.fixed",
      "🎅 Nikolaus:6.12.fixed"    
      ],
    "ics_feeds": [
      {
        "url": "https://app.muellapp.com/ical/74418?area_filter=145382%2C145383%2C151900&reminder&day=1&time=18:00",
        "uid_prefix": "MUELL-",
        "emoji_mapping": {
          "Restmüll": "🗑️",
          "Papier": "♻️",
          "Gelber Sack": "🟡"
        }
      },
      {
        "url": "https://www.feiertage-oesterreich.at/kalender-download/ics/feiertage-oesterreich.ics",
        "uid_prefix": "HOLIDAY-",
        "import_locations": "K,St",
        "emoji_mapping": {
          "§": "🇦🇹",
          "default": "🗓️"
        }
      },
      {
        "url": "https://files-f1.motorsportcalendars.com/f1-calendar_p1_p2_p3_qualifying_sprint_gp_alarm-30.ics",
        "uid_prefix": "F1-",
        "emoji_mapping": {
          "FP1": "🏎️",
          "FP2": "🏎️",
          "FP3": "🏎️",
          "Sprint Qualifying": "⏱️",
          "Sprint": "⚡",
          "Qualifying": "⏱️",
          "Grand Prix": "🏆"
        }
      }
    ]
  }
